@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    color: #000;
}

h1, h2, h3 {
    font-weight: 700;
}

a:hover {
    color: #1FDAE1;
}

label {
    font-weight: 600;
}

input, select {
    color: #000;
    padding: 5px 7px;
    height: 35px;
    background-color: #23C9CF;
    border: 1px solid #000;
    border-radius: 5px;
}

input::placeholder {
    color: #000;
}

textarea {
    color: #000;
    padding: 5px 7px;
    height: 80px;
    background-color: #23C9CF;
    border: 1px solid #000;
    border-radius: 5px;
}

.text-primary {
    color:#1FDAE1;
}

.primary-button {
    background-color: #1FDAE1;
    color: #0F0F0F;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
    border: 2px solid #000;
    border-radius: 25px;
    min-width: 145px;
    transition: all 0.3s ease;
    text-align: center;
}

.secondary-button {
    background-color: #FFF;
    border: 2px solid #1FDAE1;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
    border-radius: 25px;
    min-width: 145px;
    transition: all 0.3s ease;
}

.primary-button:hover {
    color: #FFF;
}

.secondary-button:hover {
    color: #1FDAE1;
}

#about, #recommendations, #news {
    background-image: url('../img/igaming-bg.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center top;
}

/* Hamburger Nav */

.mobile-nav {
    height: 4.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-nav.scrolled {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.mobile-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    background-color: #FFF;
    transition: 0.5s;
    padding-top: 3.5rem;
    z-index: 1000;
}

.mobile-navigation ul li {
    text-align: right;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 30px;
    width: 100%;
    margin-right: 0;
    place-self: end;
}

.mobile-navigation ul li a {
    font-family: 'Lato', sans-serif!important;
}

.hamburger, .bar {
    position: fixed;
}

.hamburger {
    display: block;
    top: 35px;
    right: 5%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar {
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

.two {
    top: 11px;
}

.three {
    top: 19px;
}

.mobile-navigation.active {
    height: 100vh;
    right: 0;
}

.hamburger.open .bar.one {
    background-color: #000;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open .bar.two {
    background-color: transparent;
}

.hamburger.open .bar.three {
    background-color: #000;
    transform: rotate(-45deg) translate(6px, -5px);
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.nav-links {
    position: relative;
    padding-bottom: 5px;
}

.mobile-navigation .jur-panel {
    background: #F2F2F2;
    border: 1px solid #AAAAAA;
    border-radius: 10px 0 10px 10px;
    padding: 8px 0;
    right: 0;
}

.mobile-navigation .jur-panel-list {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    padding: 8px;
    width: 12rem;
}

.mobile-navigation .jur-panel-list li {
    text-align: center;
}

/* End Hamburger Nav */

/* Hero Section */

#hero {
    background-image: url('../img/homepage-bg.webp');
    background-size: cover;
    background-position: center;
}

.igaming-span {
    font-size: 3.5rem;
    display: block;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1FDAE1;
    line-height: 1;
}

.licensing-span {
    font-size: 1.7rem;
    display: block;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    line-height: 1;
    padding-top:10px;
}

/* End Hero Section */

/* Contact Section */

#contact {
    background-color: #1FDAE1;
}

.contact-button {
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 25px;
    width: 145px;
}

.contact-button:hover {
    border-color: #FFF;
    color: #FFF;
}

#contact label {
    font-weight: 600;
}

/* End Contact Section */

/* Footer Section */

#footer a img {
    filter: contrast(0) brightness(0);
}

#footer a:hover img {
    filter: invert(15%) sepia(32%) saturate(2112%) hue-rotate(133deg) brightness(94%) contrast(87%);
}

.mf-link:hover {
    color: #000;
    text-decoration: underline;
}

/* End Footer Section */

/* About Page */

.start-quote::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url("../img/start-quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end-quote::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url("../img/end-quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End About Page */

/* Jurisdictions Page */

.jurisdiction-place {
    cursor: pointer;
    color: #AAAAAA;
    font-weight: 500;
}

.jurisdiction-place:hover {
    color: #1FDAE1;
    font-weight: 600;
}

.jurisdiction-place.active {
    font-weight: 700;
    color: #1FDAE1;
}

.jurisdiction-place.active:hover {
    font-weight: 700;
}


/* End Jurisdictions Page */

/* Recommendations Page */

tr, th, td {
    border: 1px solid rgb(229, 231, 235);
    align-content: flex-start;
}

td div {
    font-weight: 500;
}

.clickable-image {
    width: 100%;  
    cursor: pointer;
    transition: transform 0.2s ease-in-out;  
}

.clickable-image:hover {
    transform: scale(1.05);  
}

.modal {
    display: none;  
    position: fixed;
    z-index: 1;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding-top: 60px;
}


.modal-content {
    margin: auto;
    display: block;
    width: 90%;  
    max-width: 800px;  
}

.close {
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 35px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* End Recommendations Page */

/* News Page */

#news article {
    border-color: #000;
}

/* End News Page */

/* Media Queries */

@media (min-width: 768px) {
    .igaming-span {
        font-size: 4.5rem;
    }
    .licensing-span {
        font-size: 2rem;
    }
    #jur-content {
        padding-top: 6.5rem;
    }
}

@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .mobile-nav {
        justify-content: space-between;
    }
    .mobile-navigation {
        position: unset;
        right: unset;
        background-color: transparent;
        padding-top: 0;
    }
    .mobile-navigation nav {
        height: 100%;
        padding-right: 1rem;
    }
    .mobile-navigation ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile-navigation ul li {
        font-size: 0.95rem;
        place-self: center;
        padding: 0 15px;
        width: unset;
    }
    #jurisdictions {
        background-image: url('../img/igaming-bg.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .jur-nav:hover .jur-panel {
        display: block!important;
    }
    .igaming-span {
        font-size: 5.5rem;
        font-weight: 600;
    }
    .licensing-span {
        font-size: 2.5rem;
    }
    #about {
        margin-left: 5rem;
    }
}

@media (min-width: 1200px) {
    textarea {
        height: 118px;
    }
    .mobile-nav {
        height: 5.5rem;
    }
    #about {
        margin-left: auto;
    }
    .about-quote {
        position: relative;
        left: 3rem;
    }
    .start-quote::before,
    .end-quote::before {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1400px) {
    .igaming-span {
        font-size: 6.5rem;
    }
}

@media (min-width: 1500px) {
    #hero {
        height: 100vh;
    }
    #hero-contents {
        height: 100%;
    }
    #hero-contents {
        align-items: center;
        padding-bottom: 3rem;
    }
    #hero-left {
        margin: auto;
        padding-bottom: 5rem;
    }
    #hero .igaming-span {
        font-size: 7.5rem;
    }
    #hero .licensing-span {
        font-size: 3rem;
    }
    #hero h1 {
        font-size: 4.2rem;
    }
    .about-quote {
        position: relative;
        left: 3rem;
    }
}

@media (min-width: 1700px) {
    .mobile-navigation ul li {
        font-size: 1.2rem;
        padding: 0 25px
    }
    .mobile-navigation nav {
        padding-right: 2.5rem;
    }
    #jurisdictions {
        padding-bottom: 8rem;
        background-size: 45%;
    }
    .jur-content  {
        padding-left: 3rem;
    }
    .jur-img-cont {
        max-width: 24rem!important;
        margin-left: 2rem;
        margin-right: 2.5rem;
    }
    .about-quote {
        padding-top: 2rem;
        left: 5rem;
    }
    .start-quote::before,
    .end-quote::before {
        width: 120px;
        height: 120px;
    }
    .end-quote::before {
        top: unset;
        left: unset;
        transform: unset;
        bottom: -50px;
    }
    #news {
        padding-top: 2rem;
    }
}


/* End Media Queries */
